:root {
  --black: rgb(32, 34, 37);
  --white: rgb(229, 232, 235);
  --back-white: white;
  --accent: rgb(48, 51, 57);
  --footer-color-dark: rgb(4, 17, 29);
  --footer-color-light: rgb(24, 104, 183);
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Light Theme */
.body-light {
  color: var(--black);
  background: var(--back-white);
}
/* Light Theme */

/* Dark Theme */
.body-dark {
  color: var(--white);
  background: var(--black);
}
/* Dark Theme */
