.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.15s;
}

.dynamic-header {
  background-color: transparent;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  margin: 0 30px;
}

.header .left-section .opensea-logo {
  height: 40px;
  margin: 15px 10px 15px 15px;
}

.left-section .title {
  font-weight: bold;
  font-size: 22px;
  margin-top: 22px;
  text-decoration: none;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 7px;
  margin: 0 20px 0 20px;
  border-radius: 12px;
  transition: all 0.15s;
  border: 2px solid rgba(128, 128, 128, 0.6);
}

.middle-section-dynamic {
  border: none;
}

.middle-section .material-symbols-rounded {
  font-size: 25px;
  margin-right: 5px;
}

.search-bar {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  font-size: 16px;
}

.right-section-1 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 100%;
}

.right-section-1 button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
}

.explore .tooltip,
.stats .tooltip,
.resources .tooltip,
.account .tooltip {
  opacity: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 215px;
  height: 0;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-align: start;
  white-space: nowrap;
  position: absolute;
  top: 65px;
  left: -10px;
  z-index: 20;
  transition: all 0.15s;
}

.account .tooltip {
  left: auto;
  right: 50px;
}

.explore:hover .tooltip,
.stats:hover .tooltip,
.resources:hover .tooltip,
.account:hover .tooltip {
  opacity: 1;
  height: auto;
}

.explore .tooltip .tooltip-item,
.stats .tooltip .tooltip-item,
.resources .tooltip .tooltip-item,
.account .tooltip .tooltip-item {
  display: flex;
  padding: 15px 16px;
  text-decoration: none;
}

.explore .tooltip .first,
.stats .tooltip .first,
.resources .tooltip .first,
.account .tooltip .first {
  border-radius: 10px 10px 0 0;
}

.explore .tooltip .last,
.stats .tooltip .last,
.resources .tooltip .last,
.account .tooltip .last {
  border-radius: 0 0 10px 10px;
}

.explore .tooltip .tooltip-item img {
  width: 24px;
  margin-right: 10px;
}

.right-section-2 {
  display: flex;
  width: 160px;
  justify-content: space-evenly;
  height: 100%;
}

.right-section-2 .account .night-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section-2 .account,
.right-section-2 .wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55px;
}

.right-section-2 .material-symbols-rounded,
.right-section-2 .material-symbols-outlined {
  color: inherit;
  font-size: 31px;
  font-weight: 600;
  cursor: pointer;
}
