.trending-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 50px;
}

.trending-container {
  position: relative;
  width: 90%;
}

.trending-container .nft-slide {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.trending-container .nft-slide:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.trending-container .nft-slide .nft-image {
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
}

.trending-container .nft-slide .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 81px;
  position: relative;
  padding-right: 10px;
}

.trending-container .nft-slide .footer .name {
  font-size: 16px;
  font-weight: 600;
  margin-left: 115px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-container .nft-slide .owner-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: -10px;
  left: 18px;
  transition: box-shadow 0.15s;
}

.trending-container .nft-slide .owner-profile:hover {
  box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.1);
}

.trending-container .nft-slide .profile {
  width: 69px;
  height: 69px;
  object-fit: cover;
  border-radius: 10px;
}

.nft-slide .footer .verified-icon {
  width: 18px;
}

.trending-section .prev-button:hover,
.trending-section .next-button:hover {
  box-shadow: 0 1px 7px rgb(157, 157, 157);
}

.trending-section .prev-button {
  top: 35%;
  left: -15px;
}

.trending-section .next-button {
  top: 35%;
  right: -10px;
}

/* Responsive */
@media (min-width: 1320px) {
  .trending-container {
    width: 1300px;
  }
}

@media (min-width: 1200px) and (max-width: 1319px) {
  .trending-container .nft-slide {
    width: 370px;
  }

  .trending-container .nft-slide .nft-image {
    height: 230px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .trending-container .nft-slide {
    width: 330px;
  }

  .trending-container .nft-slide .nft-image {
    height: 200px;
  }
}
/* Responsive */

/* Light Theme */
.body-light .trending-container .nft-slide {
  background-color: var(--back-white);
}
/* Light Theme */

/* Dark Theme */
.body-dark .trending-container .nft-slide {
  background-color: var(--accent);
}
/* Dark Theme */
